<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SocketPlotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <SocketPlotter.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="tbSocketPort" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="tbYMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbYMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbY2ndMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbY2ndMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="cbAutoScale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbAutoScale2nd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbSocketTypeTcp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbSocketTypeUdp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbBlockLatestValueUpdate" serializeAs="String">
                <value>False</value>
            </setting>
        </SocketPlotter.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>